body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    
}
.sidebar{
    width: 320px;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: #000;
}
.main-content{
    flex: 1;
    border-radius: 1rem;
    padding: 0 1rem;
    overflow: auto;
    background-color: #121212;
}
.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    margin: 0.75rem 0 0.6rem 0.3rem;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    justify-content: center;
    height: 100px;
    border-radius: 0.5rem;
}
.nav .nav-option{
    padding: 0.5rem 1rem;
}
a{
    text-decoration: none;
    color: white;
}
.nav-option a{
    opacity: 0.7;
    color: white;
    font-size: 1.15rem;
    margin-left: 1.3rem;
}
.nav-option a:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
 .sidebar .library{
     height: 100%;
     background-color: #121212;
    }
.library .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.library img {
    height: 1.2rem;
    width: 1.2rem;
margin-left: 0.5rem;
}
.options .library-option a{
    margin-left: 0.5rem;
}
.options .icon{
    font-size: 1.35rem;
}
.options .icon i{
    opacity: 0.7;
    margin-right: 0.75rem;
}
.options .icon i:hover{
    opacity: 1;
}
.lib-box .box{
    margin: 0.75rem 0.3rem 1.4rem 0.3rem;
    /* width: 100%; */
    border-radius: 0.75rem;
    padding: 0.6rem 1rem;
    height: 8rem;
    background-color: #232323;
}
.badges{
    height: 2rem;
    border-radius: 5rem;
    padding: 0.25rem 1rem;
    border: none;
    font-weight: 700;
    width: fit-content;
    margin-top: 0.5rem;
    background-color: white;
}
.box .p1{
    font-size: 1rem;
    font-weight: 500;
}
.box .p2{
    font-size: 0.76rem;
    opacity: 0.8;
    font-weight: 300;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;   
    z-index: 6;
}
.sticky-nav-icon{
    margin-left: 0.9rem;
}
.sticky-nav-icon img{
    height: 1.25rem;
    width: 1.25rem;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.sticky-nav-options .user-icon{
    margin-right: 1rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
@media (max-width : 1000px){
    .hide{
        display: none;
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 150px;
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.song-tittle{
    font-weight: 700;
}
.song-info{
    opacity: 0.7;
    font-size: 0.75rem;
}
.footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 30%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.album{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
}
.album img{
    height: 3rem;
    width: 3rem;
}
.album-info{
    margin-left: 0.5rem;
    width: 5rem;
    padding: 0 0.2rem;
}
.album-song-name{
    font-size: 0.9rem;
}
.album-singer-name{
    font-size: 0.7rem;
}
.album i{
    margin-left: 0.7rem;
}

.player{
    width: 50%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.player-controls{
    padding: 0.5rem;
}
.player-controls img{
    height: 1rem;
    width: 1rem;
    opacity: 0.6;
    padding: 0 0.7rem;
}
.player-controls img:hover{
    opacity: 1;
}
.song-bar{
    display: flex;
    justify-content: space-between;

}
.progress-bar{
    width: 20rem;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -6px;
}

.controls{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls i{
    margin-left: 0.5rem;
    opacity: 0.5;
    font-size: 1rem;
}
.controls i:hover{
    opacity: 1;
}